# ignore everything by default
*
# do not ignore directories (still ignores their content)
!*/
# still ignore directiories with a leading dot
.*/
# do not ignore .gitignore files
!.gitignore

# shareable Jetbrains files
!.idea/modules.xml
!.idea/watcherTasks.xml
!.idea/vcs.xml
!.idea/misc.xml
!*.iml

!*.nix
!*.sh
!*.md
!/.envrc
!/flake.lock
