###
### START ignore everything
###
# ignore everything by default
*
# do not ignore directories (still ignores their content)
!*/
# still ignore directiories with a leading dot
.*/
# do not ignore .gitignore files
!.gitignore
!.gitattributes
###
### END ignore everything
###

# shareable Jetbrains files
!.idea/modules.xml
!.idea/watcherTasks.xml
!.idea/vcs.xml
!.idea/misc.xml
!*.iml

!*.sops.yaml
!*.unattended.sops.*
!*.nix
.*.nix
!*.patch
!*.sh
!*.md
!/.envrc
!/flake.lock

!/.flake.patchess
!/modules/shared/universal/profile/user/kdn/
