[default.patch.gh-compare]
base = "main"
skip = 0

[default.repo]
input = "{name}"
upstream_input = "{name}-upstream"

# PR Trackers:
# - (not working 2025-10) https://nixpk.gs/pr-tracker.html?pr=XXXXXXX
# - https://nix.ny4.dev/?pr=XXXXXX
# - https://nixpkgs-tracker.ocfox.me/?pr=XXXXXX
# PR source: https://github.com/NixOS/nixpkgs/pull/XXXXXXX.patch?full_index=1
# Source Commit: https://github.com/NixOS/nixpkgs/commit/987e8139617e37c86c33891697c6f3a9bf21021e.patch?full_index=1
# Source diff from another repo: https://github.com/NixOS/nixpkgs/compare/nixos-unstable...nazarewk:netbird-improvements~1.patch?full_index=1

# [patch.nixpkgs.netbird-dnssec]
# url = "https://github.com/NixOS/nixpkgs/pull/410239.patch?full_index=1"

[patch.nixpkgs.ceph-pproxy-drop]
url = "https://github.com/NixOS/nixpkgs/pull/462435.patch?full_index=1"

[patch.nixos-avf.fix-new-websockets]
url = "https://github.com/nix-community/nixos-avf/pull/21.patch?full_index=1"

[patch.preservation.fix-conflict]
url = "https://github.com/nix-community/preservation/pull/21.patch?full_index=1"

#[patch.nixpkgs.allow-missing-kernel-modules]
##url = "https://github.com/NixOS/nixpkgs/pull/375975.patch?full_index=1"
#url = "https://github.com/NixOS/nixpkgs/commit/987e8139617e37c86c33891697c6f3a9bf21021e.patch?full_index=1"

#[patch.nixpkgs.netbird.gh-compare]
## https://github.com/NixOS/nixpkgs/compare/nixos-unstable...nazarewk:netbird-improvements~1.patch?full_index=1
#repo = "NixOS/nixpkgs"
#base = "nixos-unstable"
#ref = "nazarewk:netbird-improvements"
#skip = 0

#[patch.nixpkgs.levenshtein-fix]
#url = "https://github.com/NixOS/nixpkgs/commit/c0954a8d2f38776b5766ffba1eadd40e876d86a4.patch?full_index=1"

#[patch.sops.age-yubikey.gh-compare]
## https://github.com/getsops/sops/compare/main...brianmcgee:feat/age-plugins.patch?full_index=1
#repo = "getsops/sops"
#base = "main"
#ref = "brianmcgee:feat/age-plugins"
